/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Trebuchet MS';
  color: #0D0D0D;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  box-sizing: border-box;
  background-color: #ffffff;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none;
}

.subtitle-box {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
}

.subtitle-box h2.subtitle {
  font-size: 60px;
  padding: 4px;
  transform: translateX(20px);
  border-bottom: solid 5px #0D0D0D;
}

header {
  width: 100vw;
  position: fixed;
  z-index: 10;
}

header h2.header-title {
  color: #0D0D0D;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px #ffffff;
  position: absolute;
  top: 28px;
  left: 8%;
  transition: .8s;
  transform: translateX(-60px);
  opacity: 0;
}

header h2.header-title.sticky {
  transform: translateX(0);
  opacity: 1;
}

header nav {
  position: absolute;
  top: 20px;
  right: 8%;
  transform: translateX(60px);
  transition: .8s;
  opacity: 0;
}

header nav .menu-button {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border: 1px solid #0D0D0D;
  border-radius: 50%;
  display: block;
  position: relative;
  cursor: pointer;
}

header nav .menu-button span {
  height: 1px;
  width: 30px;
  background-color: #0D0D0D;
  display: inline-block;
}

header nav .menu-button .span1 {
  position: absolute;
  top: 15px;
  left: 10px;
}

header nav .menu-button .span2 {
  position: absolute;
  top: 24px;
  left: 10px;
}

header nav .menu-button .span3 {
  position: absolute;
  top: 33px;
  left: 10px;
}

header nav ul.header-menus {
  display: none;
}

header nav.sticky {
  transform: translateX(0);
  opacity: 1;
}

main .main-visual {
  height: 100vh;
  width: 100vw;
  position: relative;
}

main .main-visual .container {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .main-visual .container .svg-icon {
  height: 100%;
  width: 100%;
}

main .main-visual .container path.st0 {
  fill: none;
  stroke: #0D0D0D;
  stroke-width: 20;
  animation: fill-black 1s ease-in 2.6s forwards;
}

@keyframes fill-black {
  0% {
    fill: #ffffff;
  }
  100% {
    fill: #0D0D0D;
  }
}

main .main-visual .mouth-icon {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  animation: icon-fadeIn .8s ease 3.8s both;
}

main .main-visual .mouth-icon svg {
  transition: .4s;
}

main .main-visual .mouth-icon svg.sticky {
  opacity: 0;
}

@keyframes icon-fadeIn {
  0% {
    transform: translate(-50%, 30%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

main .about-block {
  height: 100Vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .about-block .title {
  font-size: 60px;
  margin-bottom: 4px;
}

main .about-block .line {
  height: 5px;
  width: 200px;
  background-color: black;
  margin-bottom: 40px;
}

main .about-block p {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Hiragino Kaku Gothic ProN';
}

main .contents-block {
  width: 100vw;
  padding: 100px 6%;
}

main .contents-block article.content-inner {
  height: 500px;
  width: 100%;
  margin-top: 120px;
}

main .contents-block article.content-inner .content-flexbox {
  height: 100%;
  width: 100%;
  display: none;
}

main .contents-block article.content-inner .content-flexbox a.image-link {
  height: 100%;
  width: 62.5%;
  overflow: hidden;
  position: relative;
  animation: border-add .1s ease 1s both;
}

@keyframes border-add {
  100% {
    border: solid 1px #0D0D0D;
  }
}

main .contents-block article.content-inner .content-flexbox a.image-link .content-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 1s;
  animation: fadeIn-image .1s ease .9s both;
}

@keyframes fadeIn-image {
  100% {
    opacity: 1;
  }
}

main .contents-block article.content-inner .content-flexbox .image-link:hover .content-image {
  transform: scale(1.06);
}

main .contents-block article.content-inner .content-flexbox .content-texts {
  width: 37.5%;
  padding: 230px 50px 0 50px;
}

main .contents-block article.content-inner .content-flexbox .content-texts h3.content-title {
  font-size: 44px;
  letter-spacing: 4px;
  animation: fadeIn-texts .6s ease both;
}

main .contents-block article.content-inner .content-flexbox .content-texts h3.content-title::before {
  content: "";
  height: 44px;
  width: 3px;
  background-color: #0D0D0D;
  display: inline-block;
  margin-right: 10px;
  transform: translateY(4px);
}

main .contents-block article.content-inner .content-flexbox .content-texts p.content-text {
  font-size: 16px;
  margin-top: 20px;
  line-height: 32px;
  animation: fadeIn-texts .6s ease .4s both;
}

main .contents-block article.content-inner .content-flexbox .content-texts .item-link-buttom {
  height: 60px;
  width: 280px;
  border: solid 2px #ffffff;
  text-align: center;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  mix-blend-mode: difference;
  animation: fadeIn-texts .6s ease .8s both;
}

main .contents-block article.content-inner .content-flexbox .content-texts .item-link-buttom a#item-link {
  height: 100%;
  width: 100%;
  font-size: 22px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  line-height: 60px;
  padding-right: 16px;
  transition: .4s;
  transition-delay: .2s;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

main .contents-block article.content-inner .content-flexbox .content-texts .item-link-buttom span {
  height: 18px;
  width: 18px;
  display: inline-block;
  border-top: solid 3px #ffffff;
  border-right: solid 3px #ffffff;
  transform: rotate(45deg) translateY(-60%);
  transition: .4s;
  transition-delay: .2s;
  position: absolute;
  top: 50%;
  right: 66px;
  z-index: 2;
  mix-blend-mode: difference;
}

main .contents-block article.content-inner .content-flexbox .content-texts .item-link-buttom::before {
  content: "";
  height: 120%;
  width: 120%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform-origin: right top;
  transform: skewX(-30deg) scale(0, 1);
  transition: .8s;
}

main .contents-block article.content-inner .content-flexbox .content-texts .item-link-buttom:hover::before {
  transform: skewX(-30deg) scale(1, 1);
}

main .contents-block article.content-inner:first-child {
  margin-top: 0;
}

main .contents-block article.content-inner:nth-of-type(2n) > .content-flexbox {
  flex-direction: row-reverse;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 999;
  transition: .1s;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
}

.fadeIn-black-back {
  height: 100%;
  width: 100%;
  background-color: #0D0D0D;
  position: absolute;
  top: 0;
  z-index: 2;
  animation: fadeIn-contents 2s ease both;
}

@keyframes fadeIn-contents {
  0% {
    transform: scale(0, 1);
    transform-origin: left;
  }
  40% {
    transform: scale(1, 1);
    transform-origin: left;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: right;
  }
  100% {
    transform: scale(0, 1);
    transform-origin: right;
  }
}

@keyframes fadeIn-texts {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
