@charset "utf-8";
@import "reset";
@import "color";

body {
  // overflow: hidden;
}

// ラッパーの設定
.wrapper {
  box-sizing: border-box;
}

// ボタンのリセット
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

header {
  width: 100vw;
  position: fixed;
  z-index: 10;
  nav {
    position: absolute;
    top: 20px;
    right: 8%;
    transform: translateX(60px);
    transition: .8s;
    opacity: 0;
    .menu-button {
      height: 50px;
      width: 50px;
      background-color: $base-color;
      border: 1px solid $main-color;
      border-radius: 50%;
      display: block;
      position: relative;
      cursor: pointer;
      span {
        height: 1px;
        width: 30px;
        background-color: $main-color;
        display: inline-block;
      }
      .span1 {
        position: absolute;
        top: 15px;
        left: 10px;
      }
      .span2 {
        position: absolute;
        top: 24px;
        left: 10px;
      }
      .span3 {
        position: absolute;
        top: 33px;
        left: 10px;
      }
    }
    ul.header-menus {
      display: none;
    }
  }
  nav.sticky {
    transform: translateX(0);
    opacity: 1;
  }
}

main {
  .main-visual {
    height: 100vh;
    width: 100vw;
    position: relative;
    &__inner {
      height: 28%;
      width: 78%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      transition: 1s;
      .container {
        height: 100%;
        width: 100%;
        .svg-icon {
          height: 100%;
          width: 100%;
        }
        path.st0 {
          fill: none;
          stroke: $main-color;
          stroke-width: 20;
          animation: fill-black 1s ease-in 2.6s forwards;
        }
        @keyframes fill-black {
          0% {
            fill: $base-color;
          }
          100% {
            fill: $main-color;
          }
        }
      }
    }
    &__inner.sticky {
      transform: translate(-50%, -50%) scale(0.2);
      top: 50px;
      left: 12%;
      path.st0 {
        stroke: $base-color;
        stroke-width: 40;
      }
    }
    .mouth-icon {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      animation: icon-fadeIn .8s ease 3.8s both;
      svg {
        transition: .4s;
      }
      svg.sticky {
        opacity: 0;
        transform: translate(-50%, 30%);
      }
    }
    @keyframes icon-fadeIn {
      0% {
        transform: translate(-50%, 30%);
        opacity: 0;
      }
      100% {
        transform: translateX(-50%);
        opacity: 1;
      }
    }
  }

  .about-block {
    height: 100Vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title{
      font-size: 60px;
      margin-bottom: 4px;
    }
    .line{
      height: 5px;
      width: 200px;
      background-color: black;
      margin-bottom: 40px;
    }
    p{
      font-size: 24px;
      margin-bottom: 20px;
      font-family: 'Hiragino Kaku Gothic ProN';
    }
  }
  .member-block{
    height: 100Vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:black;
    .member-titlebox{
      display: flex;
      justify-content: center;
      padding: 100px 0px;
      .member-title{
        text-align: center;
        color: #ffffff;
        font-size: 60px;
        padding:4px;
        border-bottom:$base-color solid 4px ;
      }
    }
    .people{
      display: flex;
      justify-content: space-evenly;
      padding-top: 50px;
      figcaption{
        width: 400PX;
      }
    }
      .member-name{
        color:#ffffff;
        font-size: 40px;
        letter-spacing: 0.06em;
        border-left:$base-color solid 4px ;
        padding: 6px;
      }
      .member-sentense{
        color:#ffffff;
        font-size: 20px;
        padding-top: 40px;
        line-height: 60px;
      }
      .under{
        text-decoration: underline;
        color: #ffffff;
      }
  }

  .contents-block {
    width: 100vw;
    padding: 100px 6%;
    h2.heading-title {
      height: 120px;
      width: 100%;
      background-color: gray;
      margin-bottom: 100px;
    }
    article.content-flexbox {
      height: 500px;
      width: 100%;
      display: flex;
      margin-top: 120px;
      a {
        height: 100%;
        width: 62.5%;
        .content-image {
          height: 100%;
          width: 100%;
          border: solid 1px $main-color;
          object-fit: cover;
        }
      }
      .content-texts {
        width: 37.5%;
        padding: 230px 50px 0 50px;
        h3.content-title {
          font-size: 44px;
          letter-spacing: 4px;
        }
        h3.content-title::before {
          content: "";
          height: 44px;
          width: 3px;
          background-color: $main-color;
          display: inline-block;
          margin-right: 10px;
          transform: translateY(4px);
        }
        p {
          font-size: 16px;
          margin-top: 20px;
          line-height: 32px;
        }
        .item-link-buttom {
          height: 60px;
          width: 280px;
          background-color: $main-color;
          text-align: center;
          margin-top: 20px;
          position: relative;
          a#item-link {
            height: 100%;
            width: 100%;
            font-size: 22px;
            text-decoration: none;
            color: $base-color;
            display: inline-block;
            line-height: 60px;
            padding-right: 16px;
          }
          span {
            height: 18px;
            width: 18px;
            display: inline-block;
            border-top: solid 3px $base-color;
            border-right: solid 3px $base-color;
            transform: rotate(45deg) translateY(-60%);
            position: absolute;
            top: 50%;
            right: 66px;
          }
        }
      }
    }
    article.content-flexbox:first-child {
      margin-top: 0;
    }
    article.content-flexbox:nth-of-type(2n) {
      flex-direction: row-reverse;
    }
  }
  .skills-block {
    height: 100Vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    .skills-titlebox{
      display: flex;
      justify-content: center;
      padding: 100px 0px 90px 0px;
      flex-direction: column;
      align-items: center;
      .skills-title{
        text-align: center;
        font-size: 70px;
        padding:4px;
      }
      .skills-line{
        height: 5px;
        width: 250px;
        background-color: black;
        margin-bottom: 40px;
      }
    }
    .skills{
      padding-left: 400px;
      .skills-type{
        font-size: 45px;
        border-left:black solid 2px ;
        padding: 6px;
      }
      .skills-name{
        font-size: 35px;
        padding: 10px 0px 100px 0px;
        line-height: 60px;
      }
    }
  }
}

footer {

}