/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

header {
  width: 100vw;
  padding: 20px 80px;
  position: fixed;
  display: flex;
  z-index: 10;
  justify-content: space-between;
}

header .header-logo {
  font-size: 28px;
  font-weight: bolder;
  color: #0D0D0D;
  -webkit-text-stroke: 1px #ffffff;
  margin-top: 8px;
}

header nav .menu-button {
  height: 50px;
  width: 50px;
  border: 1px solid #0D0D0D;
  border-radius: 50%;
  display: block;
  position: relative;
  cursor: pointer;
}

header nav .menu-button span {
  height: 1px;
  width: 30px;
  background-color: #0D0D0D;
  display: inline-block;
}

header nav .menu-button .span1 {
  position: absolute;
  top: 15px;
  left: 10px;
}

header nav .menu-button .span2 {
  position: absolute;
  top: 24px;
  left: 10px;
}

header nav .menu-button .span3 {
  position: absolute;
  top: 33px;
  left: 10px;
}

header nav ul.header-menus {
  display: none;
}

main {
  height: 200vh;
}

main .main-visual {
  height: 100vh;
  width: 100vw;
  position: relative;
}

main .main-visual .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .main-visual .container path.st0 {
  fill: none;
  stroke: #0D0D0D;
  stroke-width: 20;
  animation: fill-black 1s ease-in 2.6s forwards;
}

@keyframes fill-black {
  0% {
    fill: #ffffff;
  }
  100% {
    fill: #0D0D0D;
  }
}

main .main-visual .mouth-icon {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  animation: icon-fadeIn .8s ease 3.8s both;
}

@keyframes icon-fadeIn {
  0% {
    transform: translate(-50%, 30%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}
